
# Redirect old HTML pages to new extensionless URLs
Redirect permanent /coc.html /code-of-conduct
Redirect permanent /export_control.html /export-control
Redirect permanent /poweredbyhbase.html /powered-by-hbase
Redirect permanent /old_news.html /news

# For downloads, acid-semantics, sponsors pages
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)\.html$ /$1 [R=301,L]

# Redirect replication URL to the right section of the book
# Rule added 2015-1-12 -- can be removed in 6 months
Redirect permanent /replication.html https://hbase.apache.org/docs/operational-management/cluster-replication

# Redirect old page-per-chapter book sections to new single file.
RedirectMatch permanent ^/book/(.*)\.html$ /book.html#$1
RedirectMatch permanent ^/book/$ /book.html

# Redirect xref references to git tree view
RedirectMatch permanent ^/xref/(.*)\.html$ https://git-wip-us.apache.org/repos/asf?p=hbase.git;a=tree

# Redirect 0.94 pages to main site
RedirectMatch permanent ^/0.94/(.*)$ /$1
Redirect permanent /0.94 /
